@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;800&display=swap");
h1 {
  text-align: center;
  /* font-family: "Raleway", sans-serif; */
  font-family: monospace;
  text-shadow: 3px 3px red, 4px 4px blue;
}

p {
  /* font-family: "Raleway", sans-serif; */
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: coral;
  width: max-content;
  display: flex;

  /* color: rgb(192, 45, 123); */
  color: rgba(68, 0, 255, 0.688);
}

body {
  background-color: rgb(177, 171, 171);
}
.halt {
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: column;
}
