a {
  display: flex;
  margin: 10px;
  font-family: 'Share Tech Mono', monospace;
  border-radius: 3px;
  color: azure;
  background-color: crimson;
  width: fit-content;
  font-size: 1.5rem;
}
a:hover {
  transform: scale(1.1) rotate(-5deg);
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 4rem;
  margin-left: 8px
}

h2 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1rem;
  margin-top: -50px;
  margin-left: 10px
}

body {
  background-color: darkslategray;
}
.container{
  display: flex;
  align-items: left;
  flex-direction: column;
}
