* {
  color: white;
  background-color: #212121;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  margin-left: 5px;
  height: 250px;
  max-width: 100%;
  background-color: #212121;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0%;
}

.titlecontainer {
  height: 120px;
  max-width: 100%;
  background-color: #212121;
  display: flex;
  margin-left: 0%;
}

footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
}

img {
  width: 0.535%;
  /* width: 1%; */
  height: 100%;
}

.condensedimage:hover {
  width: 400px;
  transition: 0.2s;
}

.condensedimage {
  transition: 0.2s;
}

.title {
  width: 0.535%;
  height: 100%;
}

.title:hover {
  width: 400px;
  transition: 0.2s;
}

body {
  width: fit-content;
  height: fit-content;
  overflow-x: scroll;
  margin: 0px;
}

html {
  margin: 0px 0px 0px 5px;
}

p {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 8pt;
  transform-origin: left;
  transform: scaleX(0.05);
  transition: 0.2s;
}

p:hover {
  transform-origin: left;
  transform: scaleX(1);
  transition: 0.2s;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  transform-origin: left;
  transform: scaleX(0.03);
  transition: 0.2s;
}

h1:hover {
  transform-origin: left;
  transform: scaleX(1);
  transition: 0.2s;
}

.center {
  margin-top: 30px;
}
