body {
  background: rgb(219, 219, 255);
}
.zeit {
  width: max-content;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  left: 300px;
  padding-left: 600px;
  text-align: center;
}
.zeit:hover {
  color: blueviolet;
}
h1 {
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  width: max-content;
  padding-left: 300px;
}
