body {
  background: rgb(219, 219, 255);
}
a {
  color: rgb(41, 45, 45);
  display: block;
  transition: all 1s;
}
/* MONTAG */
#montag {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  background-color: chartreuse;
  padding: 0.5 rem;
  top: 200px;
  left: 250px;
}
#montag:visited {
  color: coral;
  background-color: burlywood;
}
#montag:hover {
  color: aliceblue;
  background-color: black;
  transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-20deg) perspective(700px)
    scale(1.5);
  transform-origin: center center;
}

/* ------ DIENSTAG ------ */
#dienstag {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(231, 174, 30);
  padding: 0.5 rem;
  top: 1200px;
  left: 250px;
}
#dienstag:visited {
  color: rgb(106, 255, 80);
  background-color: rgb(135, 222, 212);
}
#dienstag:hover {
  color: aliceblue;
  background-color: black;
  transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-20deg) perspective(700px)
    scale(1.5);
  transform-origin: center center;
}
/*  ------ MITTWOCH ------  */
#mittwoch {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(0, 255, 136);
  padding: 0.5 rem;
  top: 2100px;
  left: 250px;
}
#mittwoch:visited {
  color: rgb(141, 80, 255);
  background-color: rgb(203, 222, 135);
}
#mittwoch:hover {
  color: aliceblue;
  background-color: black;
  transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-20deg) perspective(700px)
    scale(1.5);
  transform-origin: center center;
}
/*  ------ DONNERSTAG  ------ */
#donnerstag {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(255, 0, 136);
  padding: 0.5 rem;
  top: 2800px;
  left: 250px;
}
#donnerstag:visited {
  color: rgb(80, 255, 141);
  background-color: rgb(222, 135, 219);
}
#donnerstag:hover {
  color: aliceblue;
  background-color: black;
  transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-20deg) perspective(700px)
    scale(1.5);
  transform-origin: center center;
}
/* FREITAG */
#freitag {
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(221, 255, 0);
  padding: 0.5 rem;
  top: 3800px;
  left: 250px;
}
#freitag:visited {
  color: rgb(75, 27, 133);
  background-color: rgb(197, 222, 135);
}
#freitag:hover {
  color: aliceblue;
  background-color: black;
  transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-20deg) perspective(700px)
    scale(1.5);
  transform-origin: center center;
}
/* SAMSTAG */
#samstag {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(0, 221, 255);
  padding: 0.5 rem;
  top: 4600px;
  left: 250px;
}
#samstag:visited {
  color: rgb(75, 133, 27);
  background-color: rgb(181, 135, 222);
}
#samstag:hover {
  color: aliceblue;
  background-color: black;
  transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-20deg) perspective(700px)
    scale(1.5);
  transform-origin: center center;
}
/* SONNTAG */
#sonntag {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(255, 0, 0);
  padding: 0.5 rem;
  top: 5500px;
  left: 250px;
}
#sonntag:visited {
  color: rgb(52, 27, 133);
  background-color: rgb(222, 170, 135);
}
#sonntag:hover {
  color: aliceblue;
  background-color: black;
  transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-20deg) perspective(700px)
    scale(1.5);
  transform-origin: center center;
}

#home a {
  display: block;
}
.menu {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  position: fixed;
  width: max-content;
  left: 10px;
  top: 400px;
  color: black;
}
.day {
  position: absolute;
  left: 150px;
  top: 200px;
  transition: all 0.3s;
}
html {
  scroll-behavior: smooth;
}
