:root {
  --red: rgba(151, 26, 26, 0.466);
  --green: rgba(86, 227, 79, 0.486);
  --blue: rgba(131, 188, 241, 0.438);
  --purple: rgba(219, 65, 188, 0.425);
  --pink: rgba(255, 96, 96, 0.438);
  --yellow: rgba(215, 240, 92, 0.445);
  --orange: rgba(247, 117, 36, 0.452);
  --white: rgba(229, 229, 229, 0.445);
  --black: rgb(29, 28, 28);
  --gray: rgba(82, 79, 79, 0.459);
  --backgound: rgb(255, 255, 255);
  --length: 600px;
}
body {
  margin: 0;
  padding: 0;
  background-color: darkslategray;
}
.flex-container {
  /* flex macht aui ihne reihe defaultmässig */
  display: flex;
  /* flex-direction chame wächsle uf collumn ; */
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: darkslategray;
  align-items: flex-start;
  /*  width: 600px; */
  width: 40%;
  height: 80%;
  margin-top: 20px;
  flex-wrap: wrap;
  /* align-content: space-between; */
}

.flex-item {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  border-radius: 5px;
  max-width: 200px;
  height: max-content;
  margin: 20px;
}
.flex-item:hover {
  transform: scale(1.1);
}
.title {
  font-size: 1rem;
  font-style: oblique;
  color: azure;
}
.title2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 5rem;
  margin-left: 50px;
}

img {
  max-width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.red-bg {
  background-color: var(--red);

  /* align-self: flex-start; */
  /* order: 2; */
}

.green-bg {
  background-color: var(--green);

  /* order: 0; */
  /*  flex-grow: 2; */
}

.blue-bg {
  background-color: var(--blue);

  /* order: 3; */
  /*  flex-grow: 4; */
}

.purple-bg {
  background-color: var(--purple);
}

.pink-bg {
  background-color: var(--pink);
}

.yellow-bg {
  background-color: var(--yellow);
}

.orange-bg {
  background-color: var(--orange);
}

.white-bg {
  background-color: var(--white);
}

.black-bg {
  background-color: var(--black);
}

.gray-bg {
  background-color: var(--gray);
}
